$text_color: #1d1d1d;
$light_text_color: #b9b9b9;
$second_text_color: #787878;
$news_heading_text_color: #8d8d8d;
$accent_color: #ff6c00;
$light_accent_color: #f88c3c;
$orange: #ef9e0b;
$light_orange: #f2b547;
$peach_orange: #faeec5;
$date_orange_color: #e8603c;
$green: #5c8413;
$light_green: #c1c23f;
$dark_green: #4e720d;
$transparent_green: rgba(92, 132, 19, .8);
$yellow: #f4ca44;
$dark_yellow: #e1b833;
$accordion_peach: #e09b69;
$contacts_blocks: #fcefc7;
$contacts_form: #eefcd5;